
.titulo-nome>h1{
    font-size: 3rem;
    font-weight: 400;
}

.titulo-nome>h5 {
    font-size: 1.5rem;
    font-weight: 300;
}


.dados-contatos>div, .dados-pessoais {
    display: flex;
    flex-direction: column;
}

.dados-contatos>label, .dados-pessoais>label{
    margin-top: 5px;
}

.dados-contatos strong, .dados-pessoais strong{
    text-transform: capitalize;
}

.dados-contatos>div{
    width: 50%;
    margin: 0 auto;

    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(37, 51, 62, 0.522);
}

.formacao>h3{
    border-bottom: 2px solid #cbd0d4;
}

.formacao .cartao{
    display: flex;
    flex-direction: column;

    border: 2px solid black;
    border-radius: 15px;

    padding: 10px;
    height: 125px;
    transition: ease-out 0.1s;
}

.formacao .cartao:hover{
    scale: 1.02;
    transition: ease-out 0.1s;
    box-shadow: 3px 3px 10px
    rgba(37, 51, 62, 0.522);
}


.experiencia .empresa, 
.curso, .project{
    display: flex;
    flex-direction: column;

    border: 2px solid black;
    border-radius: 15px;


    padding: 10px;
    transition: ease-out 0.1s;
}

.experiencia .empresa:hover,
 .curso:hover, .project:hover{
     scale: 1.02;
    transition: ease-out 0.1s;
    box-shadow: 3px 3px 10px
    rgba(37, 51, 62, 0.522);
}

